h1 {
    font-size: 75px;
    font-family: "Arial";
    color: #339BA9;
    background-color: #E1C411;
    }
    
img {
    width: 700px;
    border: 10px solid;
    }

ol {
    font-size: 30px;
    font-family: cursive;
    background-color: #339BA9;
    }
    
